<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Operation Between Dates</title>
</head>
<body>
    <center>
        <h1> Find Operation between dates</h1>
        <hr/>
        <form method="POST">
            {% csrf_token %}
        From: <input type="date" name="fromdate"/>
        To: <input type="date" name="todate"/>
        <input type="submit" value="search">
                <hr/>
        <table border="1">
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Direction</th>
                <th>Amount</th>
            </tr>
            {% for result in data%}
             <tr>
                <td>{{result.id}}</td>
                 <td>{{result.date}}</td>
                 <td>{{result.direction}}</td>
                 <td>{{result.amount}}</td>
            </tr>
            {% endfor %}
        </table>
            </form>
    </center>
</body>
</html>